h1{
    color: #87ceeb;
    background: black;

}
h2{
    color: bisque;
    background: brown;
    font-size: 40px
}
p{
    color: #87ceeb;
    background: black;
    font-size: 20px
}
ol{
    color: brown;
    background: bisque;
    font-size: 20px
}
#first{
    color:black;
    background:  #87ceeb;
    font-size: 60px;
    margin: 50px 50px 50px 50px;
    text-align: center;
}
